body {
    background-color: rgb(73, 73, 73);
    font-family: Helvetica,sans-serif;
    font-size: 17px;
    padding: 25px;
    margin: 0;
    overflow: auto;
  }
   
  #container li {
    margin-bottom: 10px;
  }